<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="views/css/bootstrap.css">
  
  <title>Destiny - Astro</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-7 me-10">
        <h1>Destiny Score</h1>
        <div class="row">
          <div class="col-9">
            <h2 id="destiny-score">
              <%= results[0]["first_person"] + " and " + results[0]["second_person"] + ": " + Math.round(results[0]["destiny_score"] * 100) %>
            </h3>
          </div>
          <div class="col-3">
            <button class="btn btn-primary" id="next-couple" onClick="nextCouple()">Next Couple</button>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
                  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        

        <div class="row">
          <div class="col-4">
            <ul>
              <li>Positive Score: <span id="pos_score"><%= results[0]["aspect"]["pos_score"] %></span></li>
              <li>Negative Score: <span id="neg_score"><%= results[0]["aspect"]["neg_score"] %></span></li>
              <li><b>Original Score: <span id="matching_score"><%= results[0]["aspect"]["matching_score"] * 100 %></span></b></li>
              <li>House Score: <span id="house_score"><%= results[0]["aspect"]["house_score"] %></span></li>
              <li>Planet Score: <span id="planet_score"><%= results[0]["aspect"]["planet_score"] %></span></li>
            </ul>
          </div>

          <div class="col-4">
            <ul>
              <li>Num of +1: <span id="num_score_p1"><%= results[0]["aspect"]["num_score_p1"] %></span></li>
              <li>Num of +2: <span id="num_score_p2"><%= results[0]["aspect"]["num_score_p2"] %></span></li>
              <li>Num of +3: <span id="num_score_p3"><%= results[0]["aspect"]["num_score_p3"] %></span></li>
              <li>Num of +4: <span id="num_score_p4"><%= results[0]["aspect"]["num_score_p4"] %></span></li>
            </ul>
          </div>

          <div class="col-4">
            <ul>
              <li>Num of -1: <span id="num_score_n1"><%= results[0]["aspect"]["num_score_n1"] %></span></li>
              <li>Num of -2: <span id="num_score_n2"><%= results[0]["aspect"]["num_score_n2"] %></span></li>
              <li>Num of -3: <span id="num_score_n3"><%= results[0]["aspect"]["num_score_n3"] %></span></li>
              <li><b>Num of -4: <span id="num_score_n4"><%= results[0]["aspect"]["num_score_n4"] %></span></b></li>
            </ul>
          </div>
        </div>
        

        <p id="key-sentence" class="mb-20" style="color:BlueViolet;"><b><%= results[0]["message"] %></b></p>

        <h4>Full Keywords of this couple</h4>
        <div class="row">
          <div class="col-6">
            <h5>Harmony</h5>
            <ul id="full-harmonies">
              <% for(var i=0; i<results[0]["harmonies"].length; i++) { %>
                <li id="fh-key-<%= i%>">
                  <%= results[0]["harmonies"][i][0] + " (" + results[0]["harmonies"][i][1] + ")" %>
                </li>
              <% } %>
            </ul>
          </div>
          <div class="col-6">
            <h5>Challenges</h5>
            <ul id="full-challenges">
              <% for(var i=0; i<results[0]["challenges"].length; i++) { %>
                <li id="fc-key-<%= i%>">
                  <%= results[0]["challenges"][i][0] + " (" + results[0]["challenges"][i][1] + ")" %>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-5">
        <canvas id="radar-chart" height="400"></canvas>

        <h4>Fate Score Interpretation</h4>
        <h5>Harmony</h5>
        <ul>
          <% for(var i=0; i<5; i++) { %>
            <li id="h-key-<%= i%>">
              <%= results[0]["harmonies"][i][0] + " (" + results[0]["harmonies"][i][1] + ")" %>
            </li>
          <% } %>
        </ul>
        <h5>Challenges</h5>
        <ul>
          <% for(var i=0; i<5; i++) { %>
            <li id="c-key-<%= i%>">
              <%= results[0]["challenges"][i][0] + " (" + results[0]["challenges"][i][1] + ")" %>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.0-beta/chart.min.js"></script>

<script>
  var index = 0;
  var chart = null
  var results = <%- JSON.stringify(results) %>;

  var compa_data = [
    results[0]["compas"]["Commitment"],
    results[0]["compas"]["Emotional"],
    results[0]["compas"]["Intellectual"],
    results[0]["compas"]["Communication"],
    results[0]["compas"]["Lifestyle"],
    results[0]["compas"]["Physical"],
  ]
  var incompa_data = [
    results[0]["incompas"]["Commitment"],
    results[0]["incompas"]["Emotional"],
    results[0]["incompas"]["Intellectual"],
    results[0]["incompas"]["Communication"],
    results[0]["incompas"]["Lifestyle"],
    results[0]["incompas"]["Physical"],
  ]

  var labels = [
    "Commitment(" + compa_data[0] + ")",
    "Emotional(" + compa_data[1] + ")", 
    "Intellectual(" + compa_data[2] + ")", 
    "Communication(" + compa_data[3] + ")", 
    "Lifestyle(" + compa_data[4] + ")", 
    "Physical(" + compa_data[5] + ")",
  ]
  
  var chart = new Chart("radar-chart", {
    type: 'radar',
    data: {
      labels: labels,
      datasets: [
        {
          label: "Compatibility",
          data: compa_data,
          backgroundColor: "rgba(202,172,242,0.2)",
          borderColor: "rgba(202,172,242,1)"
        },
        {
          label: "Incompatibility",
          data: incompa_data,
          backgroundColor: "rgba(209,208,209,0.2)",
          borderColor: "rgba(209,208,208,1)"
        },
      ]
    },
    options: {
      scale: {
        ticks: {
          min: 0,
          max: 40,
          stepSize: 10
        },
        gridLines: {
          lineWidth: 2,
          color: "lightgrey",
          borderDash: context => context.index == 3 ? [] : [3, 4]
        },
      }
    }
  });

  function nextCouple() {
    index ++;
    if (index >= results.length) {
      index = 0
    }

    astro_content(results[index], chart)
  }

  function astro_content(data, chart) {
    document.getElementById("destiny-score").innerHTML = 
      data["first_person"] + " and " + data["second_person"] + ": " + Math.round(data["destiny_score"] * 100);

    document.getElementById("key-sentence").innerHTML = data["message"];

    for (let key in data["aspect"]) {
      if (key === "matching_score")
        document.getElementById(key).innerHTML = data["aspect"][key] * 100;
      else
        document.getElementById(key).innerHTML = data["aspect"][key];
    }

    for (let i=0; i<5; i++) {
      document.getElementById("h-key-" + i).innerHTML = data["harmonies"][i][0] + " (" + data["harmonies"][i][1] + ")";
      document.getElementById("c-key-" + i).innerHTML = data["challenges"][i][0] + " (" + data["challenges"][i][1] + ")";
    }

    data["harmonies"].forEach((item, i) => {
      let e = document.getElementById("fh-key-" + i)
      if (e !== null) {
        e.innerHTML = item[0] + " (" + item[1] + ")";
      } else {
        e = document.createElement('li');
        e.setAttribute('id', "fh-key-" + i);
        e.textContent = item[0] + " (" + item[1] + ")";

        let parent = document.getElementById("full-harmonies");
        parent.appendChild(e);
      }
    })

    data["challenges"].forEach((item, i) => {
      let e = document.getElementById("fc-key-" + i)
      if (e !== null) {
        e.innerHTML = item[0] + " (" + item[1] + ")";
      } else {
        e = document.createElement('li');
        e.setAttribute('id', "fc-key-" + i);
        e.textContent = item[0] + " (" + item[1] + ")";

        let parent = document.getElementById("full-challenges");
        parent.appendChild(e);
      }
    })


    compa_data = [
      data["compas"]["Commitment"],
      data["compas"]["Emotional"],
      data["compas"]["Intellectual"],
      data["compas"]["Communication"],
      data["compas"]["Lifestyle"],
      data["compas"]["Physical"],
    ]
    incompa_data = [
      data["incompas"]["Commitment"],
      data["incompas"]["Emotional"],
      data["incompas"]["Intellectual"],
      data["incompas"]["Communication"],
      data["incompas"]["Lifestyle"],
      data["incompas"]["Physical"],
    ]
    
    labels = [
      "Commitment(" + compa_data[0] + ")",
      "Emotional(" + compa_data[1] + ")", 
      "Intellectual(" + compa_data[2] + ")", 
      "Communication(" + compa_data[3] + ")", 
      "Lifestyle(" + compa_data[4] + ")", 
      "Physical(" + compa_data[5] + ")",
    ]

    chart.data.labels = labels;
    chart.data.datasets[0].data = compa_data;
    chart.data.datasets[1].data = incompa_data;
    chart.update();
  }
</script>

</body>
</html>